.form-control{
    padding: 10px;
    outline: none;
    width: 50%; 
    margin: 10px 20px;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 1rem;
    /* box-shadow: 10px 10px 10px rgb(255, 255, 255); */
    transition: box-shadow 0.5s ease;
}
.form-control:focus{
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}